<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <main role="main">
    <div class="container my-5">
      <div class="display-3 text-center">
        Hello Spring Security
      </div>
      <p class="lead"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut beatae consequatur dolores fuga fugiat, ipsa laboriosam laborum modi numquam obcaecati odio officia possimus repellendus tenetur voluptate voluptatem voluptatibus. Dolorem.</span><span>Asperiores debitis eaque facere impedit magni, modi numquam perferendis possimus quasi quo reiciendis reprehenderit repudiandae sint suscipit velit! Autem, nesciunt nihil? Earum nihil non numquam pariatur possimus quisquam sit veritatis.</span></p>
    </div>
  </main>
</body>
</html>